body {
    background: linear-gradient(to right, #a8a1d5, #659ccf);
    /* Cambia los colores según tus preferencias */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.bloque-con-fondo {
    background-color: #d2efce;
}

.fondoboton {
    background-color: #ecf0f1;
    color: black;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.fondoboton:hover {
    background-color: #a0c7a1;
    color: white;
}

#upload-form {
    text-align: center;
    margin-top: 20px;
}

#file-input {
    padding: 10px;
    border: 2px solid #a0c7a1;
    border-radius: 5px;
    background-color: #ecf0f1;
    color: gray;
    font-size: 16px;
    cursor: pointer;
}

#file-input:hover {
    background-color: #a0c7a1;
    color: white;
}

#download-select {
    padding: 10px;
    border: 2px solid #a0c7a1;
    border-radius: 5px;
    background-color: #ecf0f1;
    color: gray;
    font-size: 16px;
    cursor: pointer;
}

#download-select:hover {
    background-color: #a0c7a1;
    color: white;
}

.texto-con-separacion {
    letter-spacing: 3px;
}